<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || "Andrew Lawton" %></title>
    <meta name="author" content="Andrew Lawton">
    <meta name="Description" content="<%= current_page.data.metaDescription %>" />
    <meta name="Keywords" content="<%= current_page.data.metaKeywords %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Poppins|Open+Sans" %>

  </head>

  <body class="<%= current_page.data.bodyClass %>">
    <%= partial "partials/sprites" %>
    <%= partial "partials/navigation" %>
    <%= yield %>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js", "global", "jquery.aniview", "jquery.validate.min" %>
    <script>
      $(function() {
        $('.animate').AniView();
      });
    </script>
  </body>
</html>