---
title: BiddingForGood | Andrew Lawton
metaDescription:
metaKeywords:
bodyClass: work
---
<div class="container">
  <header class="hero full-bleed">
    <figure>
      <%= image_tag("biddingforgood-home.jpg", alt:"Image of the BiddingForGood portal on a Macbook screen", class: "responsive") %>
    </figure>
  </header>
  <h1 class="header-underline"> BiddingForGood </h1>
  <section class="full-bleed project-details">
    <div class="container">
      <div class="col-3">
        <div>
          <h3>Overview</h3>
          <p>
            BiddingForGood is an auction and event management platform that enables schools, non-profits and charities to run auctions and events to raise money for their specifc cause.
          </p>
        </div>
        <div>
          <h3>Role</h3>
          <ul>
            <li>Design</li>
            <li>Rapid Prototyping</li>
            <li>Interaction Design</li>
            <li>Cross Browser and Functional Testing</li>
          </ul>
        </div>
        <div>
          <h3>Tech</h3>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>SASS</li>
            <li>JQuery</li>
            <li>GitHub</li>
            <li>Middleman</li>
            <li>Ruby on Rails</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <p class="intro">
    Over the course of 12 years I was responsible for the entire front-end design and development of BiddingForGood's product line that encompassed a consumer shopping portal for cause minded bidders and an auction and event management platform used by over 10,000 non-profit organizations helping them to raise millions of dollars.
  </p>
  <div class="full-bleed background-alt">
    <div class="container">
      <section class="section-flex-tiles">
        <div class="section-content">
          <div class="flex row">
            <div class="tile tile-rounded">
              <div class="tile-content">
                <div class="text text-center">
                  <h3>
                    Auction Manager
                  </h3>
                  <p>
                    Designed for non-profits to easily create, promote, process and control every aspect of their auction or live event.
                  </p>
                  <%= link_to "Learn more", "auction-manager/index.html", class: "btn btn-dark" %>
                </div>
                <div class="image">
                  <%= image_tag("biddingforgood/platform-dashboard-thumb.png", alt:"", class:"responsive", height: "250", width: "350") %>
                </div>
              </div>
            </div>
          </div>
          <div class="flex row">
            <div class="tile tile-rounded">
              <div class="tile-content">
                <div class="text text-center flipped">
                  <h3>
                    Auction Catalog
                  </h3>
                  <p>
                    Non-profits can create a branded homepage to feature items, sell tickets, promote the live event and showcase sponsors.
                  </p>
                  <%= link_to "Learn more", "biddingforgood/index.html", class: "btn btn-dark" %>
                </div>
                <div class="image">
                  <%= image_tag("biddingforgood/auction-home-thumb.png", alt:"", class:"responsive", height: "250", width: "350") %>
                </div>
              </div>
            </div>
          </div>
          <div class="flex row">
            <div class="tile tile-rounded">
              <div class="tile-content">
                <div class="text text-center">
                  <h3>
                    Portal
                  </h3>
                  <p>
                    Non-profit auction items aggregated into one place where 1.7M cause minded bidders can support charities they care about.
                  </p>
                  <%= link_to "Learn more", "/biddingforgood/index.html", class: "btn btn-dark" %>
                </div>
                <div class="image">
                  <%= image_tag("biddingforgood/portal-home-thumb.png", alt:"", class:"responsive", height: "250", width: "350") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>