---
title: Muzit | Andrew Lawton
metaDescription:
metaKeywords:
bodyClass: work
---
<div class="container">
  <header class="hero full-bleed">
    <div class="display-md-none">
      <figure>
        <%= image_set_tag "work/muzit_2000w.jpg", {
            "work/muzit_320w.jpg" => "320w",
            "work/muzit_821w.jpg" => "821w",
            "work/muzit_1163w.jpg" => "1163w",
            "work/muzit_1326w.jpg" => "1326w",
            "work/muzit_1497w.jpg" => "1497w",
            "work/muzit_2000w.jpg" => "2000w"},
            sizes: "(max-width: 2000px) 100vw, 2000px",
            alt: "A person's hands a holding mobile phone with Muzit title details on the screen",
            class: "responsive" %>
      </figure>
    </div>
    <div class="display-none display-md-block">
      <figure>
        <%= image_set_tag "muzit/muzit-hero_2000w.jpg", {
      "muzit/muzit-hero_320w.jpg" => "320w",
      "muzit/muzit-hero_850w.jpg" => "850w",
      "muzit/muzit-hero_1212w.jpg" => "1212w",
      "muzit/muzit-hero_1547w.jpg" => "1547w",
      "muzit/muzit-hero_1865w.jpg" => "1865w",
      "muzit/muzit-hero_2000w.jpg" => "2000w"},
      sizes: "(max-width: 2000px) 100vw, 2000px",
      alt: "Screenshot of the Muzit title details page displayed on a laptop",
      class: "responsive" %>
      </figure>
    </div>
  </header>
  <h1 class="header-underline">
    Muzit
  </h1>
  <section class="full-bleed project-details">
    <div class="container">
      <div class="col-3">
        <div>
          <h3>Overview</h3>
          <p>
           Muzit is a data analytics startup that monitors global peer-to-peer (P2P) file sharing of over 372 million households who have downloaded over 28 billion movies, music, video games, TV shows, software applications and other digital media. The Muzit platform enables their clients to analyze each houshold’s category specific torrent traffic, downloads and meta data allowing them to build targeted IP lists for direct advertising and marketing campaigns.
          </p>
        </div>
        <div>
          <h3>Role</h3>
          <ul>
            <li>UI Design</li>
            <li>Rapid Prototyping</li>
            <li>Interaction Design</li>
            <li>HTML Email Design</li>
            <li>QA Testing</li>
          </ul>
        </div>
        <div>
          <h3>Tech</h3>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>SASS</li>
            <li>Bootstrap</li>
            <li>JQuery</li>
            <li>Jira</li>
            <li>GitHub</li>
            <li>Middleman</li>
            <li>Design integration into Rails</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <h2 class="text-center">Challenge</h2>
  <p>
    I was engaged by Muzit through a former co-worker to provide expertise in redesigning and improving the usability of the first version of the Muzit platform. The project began with an evaluation of the current site design to identify any issues impacting the user experience, overall user interface design and functionality. Based on my assessment I made recommendations to the management team identifying the critical revisions and enhancements  that needed to be implemented in order to improve the design and usability of the platform.
  </p>
  <p>
    Audience: Record labels, Entertainment companies, Companies that manage music festivals and tours, Small companies that want targeted advertising for their sales and marketing.
  </p>
  <h2 class="text-center"> Evaluation </h2>
  <p>
    My evaluation focused on the following criteria. My recommendations also account for the adaptation of the mobile experience in the final design.
  </p>
  <h5 style="margin-bottom: 0">Criteria</h5>
  <ul class="list-style-primary">
    <li>Navigation &amp; Information architecture</li>
    <li>Search</li>
    <li>Visual Design</li>
    <li>Page Layout &amp; Visualization</li>
  </ul>
  <h3> Navigation </h3>
  <div class="evaluation">
    <figure>
      <%= image_tag("muzit/trace-v1-navigation.png", alt: "Screenshot of Muzit version 1 navigation design", class: "responsive", height: "515", width: "1280") %>
    </figure>
  </div>
  <div class="summary full-bleed">
    <div class="container">
      <h4>Assessment</h4>
      <ol class="list-style-ordered-circle">
        <li>
          Clicking the logo or &quot;TRACES&quot; directs the user to the same page which is redundant and not a standard navigation design convention.
        </li>
        <li>
          Other than the icons and labels being misaligned the Muzit admin navigation is accessible from two areas of the navigation bar. Not to say sidebars are bad but in this case impacts the visual hierarchy principle of proximity between the sidebar and the dropdown.
        </li>
      </ol>
    </div>
  </div>
  <h3> Search </h3>
  <div class="evaluation">
    <figure>
      <%= image_tag("muzit/trace-v1-search.png", alt: "Screenshot of Muzit version 1 search results design", class: "responsive", height: "344", width: "1280") %>
    </figure>
  </div>
  <div class="summary full-bleed">
    <div class="container">
      <h4>Assessment</h4>
      <ol class="list-style-ordered-circle">
        <li>
          The icon is misaligned in relation to the search input field and background color makes it appear disabled.
        </li>
        <li>
          The search results dropdown width causes the &quot;Exisiting&quot; label to wrap if artist has a long name.
        </li>
      </ol>
    </div>
  </div>
  <h3> Visual Design </h3>
  <div class="evaluation">
    <h4 class="text-center">Dashboard</h4>
    <figure>
      <%= image_tag("muzit/trace-v1-dashboard.png", alt: "Screenshot of Muzit version 1 dashboard page design", class: "responsive", height: "681", width: "1250") %>
    </figure>
  </div>
  <div class="summary full-bleed">
    <div class="container">
      <h4>Assessment</h4>
      <ol class="list-style-ordered-circle">
        <li>
          The Artist Traces header and filter input do not expand to the full width of the viewport.
        </li>
        <li>
          The options button background color appears disabled, misaligned in relation to the icon and visually separated from the aritist image. The button is repeated for each artist on the dashboard, which is in the hundreds, and contributes to visual clutter and cognitive overload.
        </li>
        <li>
          The artist options dropdown list items directs the user to the artist details page (see below). This requires the user to use the browser back button each time they need to perform a specifc action within the dropdown.
        </li>
        <li>
          When an artist image in not available the image appears broken.
        </li>
      </ol>
    </div>
  </div>
  <div class="evaluation">
    <h4 class="text-center"> Artist Details </h4>
    <figure>
      <%= image_tag("muzit/trace-v1-artist-details.png", alt: "Screenshot of Muzit version 1 artist details page design", class: "responsive", height: "1134", width: "1201") %>
    </figure>
  </div>
  <div class="summary full-bleed">
    <div class="container">
      <h4>Assessment</h4>
      <ol class="list-style-ordered-circle">
        <li>
          Clicking &quot;Follow&quot; button toggles the state to &quot;Following&quot; as plain text. This is an affordance issue. The &quot;Following&quot; state should also appear clickable to the user.
        </li>
        <li>
          The header statistics Total Downloaded Songs, Potential Reach and Torrents are misaligned in relation to the icons. The text size is inconsistent causing hierarchy and legibility issues.
        </li>
        <li>
          The date range filter dropdown is applied to each metric. Being able to change the date range for each individual metric would improve the user interaction.
        </li>
        <li>
          Clicking the Traffic Origins map allows both macro views and granular views, down to a given state/province. Being able to click the Top Countries list text to drill down to each state/province would improve the visualization.
        </li>
      </ol>
    </div>
  </div>
  <h2 class="text-center">
    Plan
  </h2>
  <p>
    Before the redesign officially commenced the management team decided the business model needed to pivot away from delivering targeted email-based advertising campaigns and instead move to providing targeted IP Address List capabilities that will better leverage and monetize the data.
  </p>
  <p>
    I worked closely with the CTO, who was also the Chief Architect and Lead Developer, to develop a strategy to accomplish the goals of the site redesign and to establish a new nomenclature needed to leverage the IP Address List offering.
  </p>
  <p>
    We established a timeline of deliverables broken into specific phases. Some of the existing page layouts and concepts could still be used but new designs and functionality were needed so that users could easily generate, download and purchase the IP Address Lists.
  </p>
  <h2 class="text-center">Redesign</h2>
  <p>
    The design process started with the creation of a high-fidelity prototype using the Middleman static site generator to derive the page layouts and components. This method enabled me to quickly iterate the designs and also provided the team with a very realistic representation of the design and functionality during the review process. Furthermore the underlying HTML/CSS/SASS/JS code can be implemented directly into the Rails application environment saving a significant amount of development time.
  </p>
  <p>
    The following is representation of the first 4 of the 10 phases that encompassed the scope of the entire redesign taking 26 days to complete. I used Drake for the example as he is the most downloaded torrent artist/title.
  </p>
  <h3>PHASE <span>01</span></h3>
  <h4 class="text-center">
    Navigation
  </h4>
  <div class="summary full-bleed">
    <div class="container">
      <p>
        With the nomenclature decided I consolidated the Muzit admin sidebar into one dropdown simplifying the navigation and added headers to organize the related navigational elements.
      </p>
    </div>
  </div>
  <div class="redesign">
    <div class="phone-mockup display-md-none">
      <video autoplay muted preload loop playsinline width="222" height="" poster="../../images/muzit/poster-trace-mobile.png" class="lazy">
        <source data-src="../../video/trace-nav-mobile.mp4" type="video/mp4">
        <source data-src="../../video/trace-nav-mobile.webm" type="video/webm">
      </video>
    </div>
    <div class="display-none display-md-block">
      <div class="browser-mockup">
        <div class="tool-bar">
          <div class="buttons"></div>
        </div>
        <figure>
          <%= image_tag("muzit/trace-nav-desktop.png", alt: "Screenshot of Muzit navigation redesign on desktop", class: "responsive", height: "660", width: "1262") %>
        </figure>
      </div>
    </div>
  </div>
  <h4 class="text-center">
    Search
  </h4>
  <div class="summary full-bleed">
    <div class="container">
      <p>
        The search input width was increased to accomodate long title names. The search results &quot;Existing&quot; label was removed and title descriptions were added to differentiate titles with the same name.
      </p>
    </div>
  </div>
  <div class="redesign">
    <div class="phone-mockup display-md-none">
      <video autoplay muted preload loop playsinline width="222" height="" poster="../../images/muzit/poster-trace-mobile.png" class="lazy">
        <source data-src="../../video/trace-search-mobile.mp4" type="video/mp4">
        <source data-src="../../video/trace-search-mobile.webm" type="video/webm">
      </video>
    </div>
    <div class="display-none display-md-block">
      <div class="browser-mockup">
        <div class="tool-bar">
          <div class="buttons"></div>
        </div>
        <figure>
          <%= image_tag("muzit/trace-search-desktop.png", alt: "Screenshot of Muzit search redesign on desktop", class: "responsive", height: "658", width: "1264") %>
        </figure>
      </div>
    </div>
  </div>
  <h3>PHASE <span>02</span></h3>
  <h4 class="text-center">
    Dashboard
  </h4>
  <div class="summary full-bleed">
    <div class="container">
      <p>
        The dashboard design needed to reflect two user states. One for users signing in first time and the other when they are following a title. A video was also created to show first time users how to follow a title.
      </p>
    </div>
  </div>
  <div class="redesign">
    <div class="phone-mockup display-md-none">
      <video autoplay muted preload loop playsinline width="222" height="" poster="../../images/muzit/poster-trace-mobile.png" class="lazy">
        <source data-src="../../video/trace-follow-title-mobile.mp4" type="video/mp4">
        <source data-src="../../video/trace-follow-title-mobile.webm" type="video/webm">
      </video>
    </div>
    <div class="phone-mockup display-md-none">
      <video autoplay muted preload loop playsinline width="222" height="" poster="../../images/muzit/poster-trace-mobile.png" class="lazy">
        <source data-src="../../video/trace-following-titles-mobile.mp4" type="video/mp4">
        <source data-src="../../video/trace-following-titles-mobile.webm" type="video/webm">
      </video>
    </div>
    <div class="display-none display-md-block">
      <div class="browser-mockup">
        <div class="tool-bar">
          <div class="buttons"></div>
        </div>
        <figure>
          <%= image_tag("muzit/trace-dashboard-follow-titles-desktop.png", alt: "Screenshot of Muzit follow titles page redesign on a desktop", class: "responsive", height: "909", width: "1258") %>
        </figure>
      </div>
      <div class="browser-mockup">
        <div class="tool-bar">
          <div class="buttons"></div>
        </div>
        <figure>
          <%= image_tag("muzit/trace-dashboard-following-titles-desktop.png", alt: "Screenshot of Muzit dashboard redesign when following titles on a desktop", class: "responsive", height: "790", width: "1052") %>
        </figure>
      </div>
    </div>
  </div>
  <h3>PHASE <span>03</span></h3>
  <h4 class="text-center">
    Title Details
  </h4>
  <div class="summary full-bleed">
    <div class="container">
      <p>
        The title image was changed to a full width hero image with title meta data icons and figures designed to respond to viewport widths. Worldwide Stats date range functionality is applied to each module. The Traffic Origins Countries were made clickable so users can drill down to a state/province. The Recent Torrents and Details sections were incorporated into the page instead of a separate tabs.
      </p>
    </div>
  </div>
  <div class="redesign">
    <div class="phone-mockup display-md-none">
      <video autoplay muted preload loop playsinline width="222" height="" poster="../../images/muzit/poster-trace-mobile.png" class="lazy">
        <source data-src="../../video/trace-title-details-mobile.mp4" type="video/mp4">
        <source data-src="../../video/trace-title-details-mobile.webm" type="video/webm">
      </video>
    </div>
    <div class="display-none display-md-block">
      <div class="browser-mockup">
        <div class="tool-bar">
          <div class="buttons"></div>
        </div>
        <div class="video-container">
          <video autoplay muted preload loop playsinline poster="../../images/muzit/poster-title-details.png" class="video lazy">
            <source data-src="../../video/trace-title-details-desktop.mp4" type="video/mp4">
            <source data-src="../../video/trace-title-details-desktop.webm" type="video/webm">
          </video>
        </div>
      </div>
    </div>
  </div>
  <h3>PHASE <span>04</span></h3>
  <h4 class="text-center">
    IP Address Lists
  </h4>
  <div class="summary full-bleed">
    <div class="container">
      <p>
        Based on the following specifications I created a user flow to identify the required page designs and functionality.
      </p>
    </div>
  </div>
  <h5 style="margin-bottom: 0;">IP Lists Specification</h5>
  <ol>
    <li>
      Lists are collections of IP addresses based on titles, countries and regions.
    </li>
    <li>
      Users can add their own list.
    </li>
    <li>
      A list needs to be generated first because the number of IP addresses associated with a list changes by the second depending on download trends and real-time geographic data.
    </li>
    <li>
      When the list has been generated it is added to the Download Lists section and can be purchased using a credit card and an email will be sent with the purchase details.
    </li>
    <li>
      After a list is purchased it can be downloaded by the user.
    </li>
  </ol>
  <h4 class="text-center">IP List User Flow</h4>
  <figure class="text-center" style="margin: 0 auto;">
    <%= image_tag("muzit/trace-ip-lists-user-flow.png", alt: "Diagram of IP address lists user flow", class: "max-width", height: "582", width: "622") %>
  </figure>
  <h3 class="text-center">Add List</h3>
  <div class="summary full-bleed">
    <div class="container">
      <p>
        IP Lists on mobile utilize segmented controls so users can readily see and view the IP lists and Downloads. An alert and Help Center were designed to inform users how IP Lists work. Iconography is used to add lists and view the full lists.
      </p>
    </div>
  </div>
  <div class="redesign">
    <div class="phone-mockup display-md-none">
      <video autoplay muted preload loop playsinline width="222" height="" poster="../../images/muzit/poster-trace-mobile.png" class="lazy">
        <source data-src="../../video/trace-add-list-mobile.mp4" type="video/mp4">
        <source data-src="../../video/trace-add-list-mobile.webm" type="video/webm">
      </video>
    </div>
    <div class="display-none display-md-block">
      <div class="browser-mockup">
        <div class="tool-bar">
          <div class="buttons"></div>
        </div>
        <div class="video-container">
          <video autoplay muted preload loop playsinline poster="../../images/muzit/poster-add-list.png" class="video lazy">
            <source data-src="../../video/trace-add-list-desktop.mp4" type="video/mp4">
            <source data-src="../../video/trace-add-list-desktop.webm" type="video/webm">
          </video>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-center">List Purchase & Download </h3>
  <div class="summary full-bleed">
    <div class="container">
      <p>
        After adding a list the user can then purchase and download the list for their targeted marketing and advertising campaigns.
      </p>
    </div>
  </div>
  <div class="redesign">
    <div class="phone-mockup display-md-none">
      <video autoplay muted preload loop playsinline width="222" height="" poster="../../images/muzit/poster-trace-mobile.png" class="lazy">
        <source data-src="../../video/trace-ip-list-purchase-mobile.mp4" type="video/mp4">
        <source data-src="../../video/trace-ip-list-purchase-mobile.webm" type="video/webm">
      </video>
    </div>
  </div>
  <div class="display-none display-md-block">
    <div class="browser-mockup">
      <div class="tool-bar">
        <div class="buttons"></div>
      </div>
      <div class="video-container">
        <video autoplay muted preload loop playsinline poster="../../images/muzit/poster-purchase-list.png" class="video lazy">
          <source data-src="../../video/trace-ip-list-purchase-desktop.mp4" type="video/mp4">
          <source data-src="../../video/trace-ip-list-purchase-desktop.webm" type="video/webm">
        </video>
      </div>
    </div>
  </div>
  <h2 class="text-center">Results</h2>
  <div class="result">
    <p>
      The design and functionality for the new IP List offering increased client targeted ad campaigns click through rate (CRT) overall by over 5% above the industry average.
    </p>
    <p>
      The management team was thrilled to have launched a professional looking platform that was creatively designed and provided a user-friendly, responsive, mobile experience which generated significantly increased traffic and click through rates.
    </p>
  </div>
  <div class="work-nav full-bleed background-alt">
    <div class="section-content">
      <div class="container work-nav">
        <div class="col-3">
          <div class="prev">
            <%= link_to "Back", "/work/biddingforgood/index.html", class: "chevron left" %>
            <h6 class="display-none display-sm-block">BiddingForGood</h6>
          </div>
          <div class="nav-home">
            <%= link_to "Work", "/work/index.html" %>
          </div>
          <div class="next">
            <%= link_to "Next", "/work/frontstream/index.html", class: "chevron right" %>
            <h6 class="display-none display-sm-block">Frontstream</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>